@charset "UTF-8";
/*Base*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container-all {
  max-width: 2560px;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
}

.container-all {
  max-width: 2560px;
}
@media screen and (min-width: 1800px) {
  .container-all {
    max-width: 1800px;
    margin: auto;
  }
}

.fas {
  margin-right: 20px;
}

h1 {
  color: #9356DC;
}

/*Loader*/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  left: 0;
  top: 0;
  z-index: 10000;
  animation: loader 3s forwards;
}

/*Animation loader*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader__circle {
  border: 10px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear forwards;
  /*Placement du loader au milieu de la page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Animation du loader circle*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
/*Onglet recherche de la ville*/
.proj-search {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    padding: 20px 0;
    font-weight: bold;
    width: 100%;
  }
  
  .presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 40px 40px;
    margin-bottom: 50px;
  }
  .presentation__book {
    font-weight: bold;
    font-size: 25px;
  }
  .presentation__explore {
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    background-image: linear-gradient(#FF79DA, #9356DC);
    transition: background-color 250ms;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  }
  .presentation__explore:hover {
    opacity: 0.8;
    box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
  }
  
  /*Fonctionnement*/
  .function__title {
    margin: 0 0 20px 22px;
  }
  
  .function {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
  }
  .function h2 {
    margin: 0 0 30px 0;
  }
  .function__choice {
    margin: 0 20px 20px 40px;
    font-weight: bold;
    background-color: #F6F6F6;
    padding: 30px 50px 30px 18px;
    margin-left: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    font-family: "Roboto", sans-serif;
    width: 300px;
    max-height: 78px;
  }
  .function__choice:hover {
    background-color: #f5edff;
  }
  .function__choice:hover .fas {
    color: #9356DC;
  }
  .function__choice__number {
    width: 18px;
    height: 18px;
    padding: 4px 4px;
    border-radius: 50%;
    background-color: #9356DC;
    color: #FFF;
    position: absolute;
    top: 30%;
    left: -4%;
  }
  