@charset "UTF-8";
/*Base*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container-all {
  max-width: 2560px;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
}

.container-all {
  max-width: 2560px;
}
@media screen and (min-width: 1800px) {
  .container-all {
    max-width: 1800px;
    margin: auto;
  }
}

.fas {
  margin-right: 20px;
}

h1 {
  color: #9356DC;
}

/*Loader*/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  left: 0;
  top: 0;
  z-index: 10000;
  animation: loader 3s forwards;
}

/*Animation loader*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader__circle {
  border: 10px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear forwards;
  /*Placement du loader au milieu de la page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Animation du loader circle*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}